@model IEnumerable<ExamApp.Models.Exam>
@{
    ViewData["Title"] = "Exams";
}

@section Css {
    @{await Html.RenderPartialAsync("_DataTableCssPartial");}
}

@section Sole {
    <style>


        .table tr th:last-child {
            width: 50px;
        }

        .table tr th {
            text-align: center;
        }
    </style>
}

<div class="container-fluid mt-4">
    <div class="card animated fadeIn overflow-hidden">
        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0 skewed skewed-yellow text-dark d-inline-block text-uppercase ls-1">Exams</h3>
                </div>
                <div class="col text-right">
                    @if (ViewBag.UserType != 3)
                    {
                        <a asp-action="Create" asp-route-classRoomId="@ViewBag.ClassRoomId" class="btn btn-create">New</a>
                    }

                </div>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="">

                <table class="table align-items-center  table-striped table-bordered" id="datatable-basic">
                    <thead class="thead-light">
                        <tr>

                            <th>
                                Type
                            </th>

                            <th>
                                Name
                            </th>
                            <th>
                                Topic
                            </th>
                            <th>
                                Date
                            </th>

                            <th>
                                From
                            </th>
                            <th>
                                To
                            </th>

                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.ExamType.Name
                                </td>
                                <td>
                                    @item.Name
                                </td>

                                <td>
                                    @item.Topic
                                </td>

                                <td>
                                    @String.Format("{0:dd-MM-yyyy}", item.Date)
                                </td>
                                <td>
                                    @item.From
                                </td>
                                <td>
                                    @item.To
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        @if (ViewBag.UserType == 1)
                                        {

                                            @if (item.Status == 0)
                                            {
                                                <a class="btn btn-greenyellow btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                <a class="btn btn-default btn-sm" asp-action="AddQuestions" asp-controller="Questions" asp-route-examId="@item.Id">Add Questions</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger btn-sm">Already in Process/Ended</a>
                                            }

                                        }

                                        else if (ViewBag.UserType == 2)
                                        {
                                            <a class="btn btn-greenyellow btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>


                                            @if (item.Status == 0)
                                            {
                                                <a class="btn btn-default btn-sm" asp-action="AddQuestions" asp-controller="Questions" asp-route-examId="@item.Id">Add Questions</a>
                                                <a class="btn btn-success btn-sm" asp-action="StartExam" asp-controller="Exams" asp-route-examId="@item.Id">Start</a>
                                            }
                                            else if (item.Status == 1)
                                            {
                                                <a class="btn btn-danger btn-sm" asp-action="EndExam" asp-controller="Exams" asp-route-examId="@item.Id">End</a>
                                            }
                                            else if (item.Status == 2)
                                            {
                                                <a class="btn btn-primary btn-sm" asp-action="EvaluateExamIndex" asp-controller="Questions" asp-route-examId="@item.Id">Evaluate</a>
                                            }



                                        }
                                        else if (ViewBag.UserType == 3)
                                        {
                                            @if (item.Status == 0)
                                            {
                                                <a class="btn btn-primary btn-sm">Not Started Yet</a>
                                            }

                                            else if (item.Status == 1)
                                            {
                                                <a class="btn btn-success btn-sm" asp-action="ParticipateInExam" asp-controller="Questions" asp-route-examId="@item.Id">Participate</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-greenyellow btn-sm" asp-action="ViewExam" asp-controller="Questions" asp-route-studentId="@ViewBag.Student.Id" asp-route-examId="@item.Id">View</a>
                                            }


                                        }


                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
